.container {
  height: 90vh;
  min-height: 90vh;
  width: 100vw;
}

.lakeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lakeBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bodyButtons {
  display: flex;
  flex-direction: column;
}
