.container {
  height: 90vh;
  min-height: 90vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.statsOptions {
  height: 80vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.statSelectorButton {
  height: 20vh;
  width: 80vw;
}

.filterContainer {
  height: 8vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.generalStats {
  height: 25vh;
  width: 80vw;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: medium;
}

.generalStat {
  height: 5vh;
  width: 39vw;

  flex-direction: column;

  align-items: flex-start;
}

.generalStatHeader {
  font-weight: bold;
}

.categoryStats {
  height: 50vh;
  width: 80vw;
}

.timeGraphContainer {
  height: 10vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.graphContainer {
  height: 5vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.year {
  height: 8vh;
  width: 80vw;

  display: flex;
  flex-direction: row;
}

.day {
  height: 8vh;
  width: 2vw;
  display: flex;
  flex-direction: column;
}

.hours {
  height: 8vh;
  width: 80vw;

  display: flex;
  flex-direction: row;
}

.hour {
  height: 8vh;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}
.hourScale {
  font-size: xx-small;
  text-align: center;
}

.backButton {
  height: 15;
  width: 80vw;
}

.graph {
  border: solid;
  border-color: white;
}
